html {
  width: 100%;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  box-sizing: border-box; }

button {
  background-color: #da7074;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  height: 40px;
  width: 110px;
  outline: none; }

button:disabled {
  opacity: 0.6; }

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: url("./assets/image/back_lottery.jpeg") repeat-y 100%;
  height: 100%;
  min-width: 700px; }
  body .wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;
    color: #000000; }
    body .wrapper .header {
      text-align: center;
      font-size: 2em; }
    body .wrapper .menu {
      list-style: none;
      margin-bottom: 2em;
      padding: 0 0 0.5em;
      text-align: center; }
    body .wrapper .menu > li {
      display: inline; }
    body .wrapper section {
      margin: 20px; }
    body .wrapper .winners {
      margin-bottom: 40px;
      color: red; }
      body .wrapper .winners .win__list {
        width: 700px;
        margin: auto;
        text-align: center; }
        body .wrapper .winners .win__list:before, body .wrapper .winners .win__list:after {
          content: "";
          display: table; }
        body .wrapper .winners .win__list:after {
          clear: both; }
        body .wrapper .winners .win__list .win__item {
          float: left;
          width: 20%;
          line-height: 2.5; }
          body .wrapper .winners .win__list .win__item p {
            width: 100%; }
        body .wrapper .winners .win__list .win__item:nth-last-child(1) {
          line-height: 1;
          float: right; }
        body .wrapper .winners .win__list .win__item:nth-child(2n) {
          width: 60%;
          color: red; }
    body .wrapper .registration {
      text-align: center;
      margin-bottom: 40px; }
      body .wrapper .registration .registration__form {
        width: 600px;
        margin: auto; }
        body .wrapper .registration .registration__form .reg__item {
          margin-bottom: 20px; }
          body .wrapper .registration .registration__form .reg__item:before, body .wrapper .registration .registration__form .reg__item:after {
            content: "";
            display: table; }
          body .wrapper .registration .registration__form .reg__item:after {
            clear: both; }
          body .wrapper .registration .registration__form .reg__item .reg__item_title {
            float: left;
            width: 13%;
            text-align: right;
            padding-right: 10px; }
          body .wrapper .registration .registration__form .reg__item .reg__item_input {
            float: left;
            width: 87%; }
          body .wrapper .registration .registration__form .reg__item .reg__item_error {
            height: 20px;
            color: red;
            text-align: center;
            font-size: 12px; }
          body .wrapper .registration .registration__form .reg__item .reg__item_input_error {
            border: 2px solid red;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      body .wrapper .registration .save__reg {
        text-align: right; }
    body .wrapper .data .data__item {
      margin-bottom: 20px;
      color: white; }
      body .wrapper .data .data__item .data_input {
        color: #000000; }
      body .wrapper .data .data__item .data__item_input_error {
        border: 2px solid red;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    body .wrapper .empty {
      height: 90px; }

.footer {
  height: 90px;
  margin-top: -90px;
  position: relative;
  font-size: 12px;
  color: #fff;
  font-family: Georgia, sans-serif;
  text-align: center;
  padding: 40px; }

/*# sourceMappingURL=app.css.map */
