<header class="header">
    <h1 class="header_text">Lottery</h1>
</header>

<section class="winners">
    <ul class="win__list">
        <li class="win__item">
            <p class="win__item_text">Winners:</p>
        </li>
        <li class="win__item">
            <p class="win__item_name">Name</p>
        </li>
        <li class="win__item">
            <button type="button" class="win__item_button">New winner</button></li>
    </ul>

</section>
<section class="registration">
    <h2 class="registration__head_text">Registration form</h2>
    <form name="regForm" class="registration__form" method="post" autocomplete="off" role="form" ng-controller="RegCtrl">
        <ul class="reg__list">
            <li class="reg__item">
                <div class="reg__item_title">Name:</div>
                <input type="text" class="reg__item_input"></li>
            <li class="reg__item">
                <div class="reg__item_title">Surname:</div>
                <input type="text" class="reg__item_input"></li>
            <li class="reg__item">
                <div class="reg__item_title">Email:</div>
                <input type="text" class="reg__item_input"></li>
            <li class="reg__item">
                <div class="reg__item_title">Phone:</div>
                <input type="text" class="reg__item_input"></li>
            <li class="reg__item">
                <div class="reg__item_title">Birthday:</div>
                <input type="text" class="reg__item_input"></li>
        </ul>
        <button type="button" class="reg_button">Save</button>
    </form>
</section>
<section class="data">
    <ul class="data__list">
        <li class="data_item" ng-repeat="participant in participants">
            [{$index+1{}}] {{participant.surname}} {{participant.name}}, {{participant.email}},
            {{participant.phone}}, {{participant.date}}
        </li>
    </ul>

</section>
<footer class="footer">
    Copyright © 2017 @yureev
</footer>

<!--<form name="loginForm" class="login" autocomplete="on" role="form" method="post" ng-controller="LoginCtrl">-->
    <!--<ul class="login__list">-->
        <!--<li class="login__item">-->
            <!--<input type="text" name="login" class="login__item_input" ng-class="{'login__item_input_error' : (loginForm.login.$invalid && loginForm.login.$touched)}" ng-blur="validLogin()" ng-model="loginFormInfo.Login" placeholder="Login" tabindex="1" required>-->
            <!--<div class="login__item_error">-->
                <!--<span ng-show="(loginForm.login.$invalid && loginForm.login.$touched)">{{loginRequired}}</span>-->
            <!--</div>-->
            <!--<div class="login__item_text"><a href="#" class="login__item__text_link">Forgot?</a></div>-->
        <!--</li>-->
        <!--<li class="login__item">-->
            <!--<input type="text" name="pass" class="login__item_input" ng-class="{'login__item_input_error' : (loginForm.pass.$invalid && loginForm.pass.$touched)}" ng-blur="validPass()" ng-model="loginFormInfo.Pass" placeholder="Password"-->
                   <!--maxlength="25" tabindex="2" required>-->
            <!--<div class="login__item_error">-->
                <!--<span ng-show="(loginForm.pass.$invalid && loginForm.pass.$touched)">{{passwordRequired}}</span>-->
            <!--</div>-->
            <!--<div class="login__item__text"><a href="#!/reg" ng-click="validAuth('reg')" class="login__item__text_link">Registration</a></div>-->
        <!--</li>-->
        <!--<li class="login__item">-->
            <!--<div class="login__item__text">-->
                <!--<a href="#!/data" class="login__item__text_link">-->
                    <!--<button type="submit" class="login__item__text_button" ng-click="validAuth('login')" ng-disabled="loginForm.$invalid" tabindex="3">Enter</button>-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</form>-->