<div class="registration">
    <p class="registration__head_text">Registration form</p>
    <form name="regForm" class="registration__form" method="post" autocomplete="off" role="form" ng-controller="View1Ctrl">
        <ul class="reg__list">
            <li class="reg__item">
                <div class="reg__item_title">Name:</div>
                <input type="text" name="name" class="reg__item_input" ng-blur="validName()" ng-model="regFormInfo.name" placeholder="Name" tabindex="1" required>
                <div class="reg__item_error">
                    <span ng-show="(regForm.name.$invalid && regForm.name.$touched)">{{nameRequired}}</span>
                </div>
            </li>
            <li class="reg__item">
                <div class="reg__item_title">Surname:</div>
                <input type="text" name="surname" class="reg__item_input" ng-blur="validSurname()" ng-model="regFormInfo.surname" placeholder="surname" tabindex="2" required>
                <div class="reg__item_error">
                    <span ng-show="(regForm.surname.$invalid && regForm.surname.$touched)">{{surnameRequired}}</span>
                </div>
            </li>
            <li class="reg__item">
                <div class="reg__item_title">Email:</div>
                <input type="email" name="email" class="reg__item_input"  ng-blur="validEmail()" ng-model="regFormInfo.email" placeholder="name@mail.com" tabindex="3" required>
                <div class="reg__item_error">
                    <span ng-show="(regForm.email.$invalid && regForm.email.$touched)">{{emailRequired}}</span>
                </div>
            </li>
            <li class="reg__item">
                <div class="reg__item_title">Phone:</div>
                <input type="text" name="phone" class="reg__item_input"  ng-blur="validPhone()" ng-model="regFormInfo.phone" placeholder="380xxxxxxxxx" tabindex="4"
                       ng-keypress = "getChar($event, 'number')"  maxlength="12">
                <div class="reg__item_error">
                    <span ng-show="(regForm.phone.$invalid && regForm.phone.$touched)">{{phoneRequired}}</span>
                </div>
            </li>
            <li class="reg__item">
                <div class="reg__item_title">Birthday:</div>
                <input type="text" name="date" class="reg__item_input" ng-blur="validDate()" ng-model="regFormInfo.date" placeholder="dd.mm.year" tabindex="5"
                       ng-keypress = "getChar($event, 'number')"></li>
        </ul>
        <div class="save__reg">
            <button type="button" class="save_reg_button" ng-click="addParticipant()" ng-disabled="regForm.$invalid" tabindex="6">Save</button>
        </div>

    </form>
    {{regFormInfo}}
    {{participants}}

    <div class="windata">
        <section class="winners">
            <ul class="win__list">
                <li class="win__item">
                    <p class="win__item_text">Winners:</p>
                </li>
                <li class="win__item">
                    <p class="win__item_name">Name</p>
                </li>
                <li class="win__item">
                    <button type="button" class="win__item_button">New winner</button></li>
            </ul>

        </section>
        <section class="data">
            <ul class="data__list">
                <li class="data_item" ng-repeat="participant in participants track by participant.name">
                    {{$index+1}}. {{participant.surname}} {{participant.name}}, {{participant.email}},
                    {{participant.phone}}, {{participant.date}}
                </li>
            </ul>

        </section>
    </div>

</div>
